html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Five Minutes';
  src: url('/fonts/five.otf');
}

body {
  background-image: url('/images/sunset-bg-big.png');
  background-size: cover;
  -moz-background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-repeat: no-repeat;
  background-position: center center;*/

  color: white;
  font-family: 'Five Minutes';
  font-size: larger; 
  height: 100%;
}

#curl-base {
  width: 941px;
  margin-left: auto;  
  margin-right: auto;
  padding-top: 20px;
}

#curl-splash {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
}

a {
  display: block;
}

a, a:visited {
  color: white;
}


h1 {
  text-align: center;
  font-size: 30pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 30px;
}

p.help {
  margin-top: 10px;
  margin-bottom: 5px;
}

#post-form {
  display: none;
}

#new-param {
  margin-left: 370px;
  margin-top: 5px;
  font-size: 40pt;
  text-decoration: none;
}

#submit {
  display: inline;
}

.param, .value, #url-input, #method-input {
  width: 49%;
}

#url-input {
  width: 100%;
}

#targets-input {
  margin-bottom: 10px;
}

#method-input {
  margin-bottom: 30px;
}

input {
  padding: 5px;
}

#credits-container {
  position: fixed;
  bottom: 10px;
  right: 13px;
  font-size: 16pt;
  /*width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;*/
}

.tooltip a {
  display: inline;
  color: black;
}

.tip-able {
  cursor: pointer;
}

/* simple css-based tooltip */
.tooltip {
  background-color:#eee;
  border:1px solid #fff;
  padding:10px 15px;
  width: 340px;
  display: none;

  /* text styling */
  color:#000;
  text-align:left;
  font-size:16pt;
  line-height: 1.5;

  /* outline radius for mozilla/firefox only */
  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}
