@font-face {
  font-family: 'Five Minutes';
  src: url('five.otf');
}

body {
  background-image: url(sunset-bg.png);
  color: white;
  background-size: cover;
  font-family: 'Five Minutes';
  font-size: larger; 
}

#curl-base {
  width: 941px;
  margin-left: auto;  
  margin-right: auto;
  padding-top: 20px;
}

#curl-splash {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
}

a {
  display: block;
}

a, a:visited {
  color: white;
}


h1 {
  text-align: center;
  font-size: 30pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 30px;
}

p.help {
  margin-top: 10px;
  margin-bottom: 5px;
}

#post-form {
  display: none;
}

#new-param {
  margin-left: 370px;
  margin-top: 5px;
  font-size: 30pt;
  text-decoration: none;
}

#submit {
  display: inline;
}

.param, .value, #url-input, #method-input {
  width: 49%;
}

#url-input {
  width: 100%;
}

#targets-input {
  margin-bottom: 10px;
}

#method-input {
  margin-bottom: 30px;
}

input {
  padding: 5px;
}
